<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.kallppsa" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>KalLPPSA</name>
  <description>Kalkulator Pinjaman LPPS - offline app</description>
  <author email="you@example.com" href="#">You</author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="Fullscreen" value="false" />
  <platform name="android">
    <icon src="res/icons/icon-192.png" density="mdpi" />
  </platform>
</widget>
